.lignesFormulaires
{
	width:96%;
	height:30px;
}
.textLabel
{
	margin-left:2%;
	display: block;
	width: 180px;
	margin-bottom:2%;
}
.labelparam
{
	display:inline-block;
	line-height:19px;
	font-size:12px;
	width:160px;
	margin-right:0;
	margin-left:2%;
}
#cssFile
{
	margin-left:2%;
	background:#f4f3f1;
}
.valparam
{
	display:inline-block;
	line-height:19px;
	font-size:12px;
	width:160px;
	margin-left:180px;
	margin-left:2%;
}

.valparam:focus
{
background-color:yellow;
}

.lignesFormulaires:nth-child(odd)
{
	background-color:#f4f3f1;
}

.bouton
{
	margin-top:2%;
	margin-left:2%;
	margin-bottom:5px;
	width:15%;
	height:26px;
	cursor:pointer;
	background:#f4f3f1;
  	background: -webkit-linear-gradient(white, #f4f3f1 80%);
	background: -moz-linear-gradient(white,#f4f3f1 80%);
	background: -ms-linear-gradient(white, #f4f3f1 80%);
	background:  -o-linear-gradient(white, #f4f3f1 80%);
	background: linear-gradient(white, #f4f3f1 80%);
	
}