#navigationGroupe {
	position: absolute;
	width: 21%;
	padding-top: 10px;
	padding-bottom: 20px;
	z-index: 10;
}

#listeArticles {
	width: 78%;
	margin-left: 22%;
}

h2 {
	left: 21%;
}

#h2Catalogue {
	left: -8px;
}

.navigCatalogue {
	position: relative;
	width: 70%;
	left: -5px;
	top: -3px;
	font-size: 14px;
	margin-bottom: 10px;
}

#navigMesArticles {
	margin-top: 15px;
}

#nbArticlesListe {
	display: inline-block;
	position: absolute;
	right: 16px;
}

h3 {
	background-color: #f1ede9;
}

#imgDuGroupe {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 5px;
}

#imgDuGroupe img {
	width: 80%;
	height: auto;
	max-width: 164px;
}

h4 {
	width: 94%;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	margin-left: 2%;
	margin-bottom: 5px;
	opacity: 0.6;
	display: block;
	color: #363636;
	border-bottom: 2px solid #363636;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.h4Groupes {
	display: block;
	width: 96%;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	margin-left: 2%;
	margin-bottom: 5px;
	opacity: 0.7;
	display: block;
	color: #4a4a54;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.h4Groupes:hover {
	opacity: 0.9;
	background-color: #f4f3f1;
}

.decoGroupes {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	width: 6%;
	background: #363636;
	color: white;
	text-align: center;
	background: -webkit-linear-gradient(#7C7C7C, #363636 80%);
	background: -moz-linear-gradient(#7C7C7C, #363636 80%);
	background: -ms-linear-gradient(#7C7C7C, #363636 80%);
	background: -o-linear-gradient(#7C7C7C, #363636 80%);
	background: linear-gradient(#7C7C7C, #363636 80%);
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.libGroupe {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	margin-left: 2%;
	width: 90%;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

/**++++++++++++++++++++++++++++++++++++ CATALOGUE ++++++++++++++++++++++++++++++++++++++*/
#blocCatalogue {
	min-height: 620px;
}

.blocGroupe {
	width: 170px;
	height: 300px;
	max-height: 300px;
	display: block;
	margin-left: 25px;
	float: left;
}

.groupeCatalogue, .familleCatalogue {
	display: block;
	width: 170px;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	text-decoration: none;
}

.groupeCatalogue {
	height: 18px;
	color: #3581BA;
	font-weight: bold;
}

#groupeMesArticles {
	color: #92A542;
}

.familleCatalogue {
	height: 20px;
	line-height: 20px;
	color: #535151;
	margin-bottom: 4px;
}

.familleCatalogue:hover {
	background: #f1ede9;
}

.puceFamilles {
	width: 15px;
	display: inline-block;
	background: url(../images/decoration/puceFamille.png) no-repeat;
}

.puceFamillesMesArticles {
	width: 15px;
	display: inline-block;
	background: url(../images/decoration/puceFamilleMesArticles.png)
		no-repeat;
}

.imagegroupeCatalogue {
	display: inline-block;
	width: 165px;
	height: 80px;
	line-height: 80px;
	border: 1px solid #aba3a3;
	margin-bottom: 10px;
	text-align: center;
}

.imagegroupeCatalogue:hover {
	opacity: 0.8;
}

.imageGroupe {
	display: inline-block;
	vertical-align: middle;
	max-width: 165px;
	max-height: 80px;
}

/*+++++++++++++++++++++++++++++++++++++ PANIER INTUITIF +++++++++++++++++++++++++++++++++++++++*/
.blocGroupePI {
	width: 170px;
	height: 170px;
	display: block;
	margin-left: 25px;
	float: left;
}

.imageCatalogueIntuitif {
	display: inline-block;
	width: 168px;
	height: 110px;
	line-height: 110px;
	border: 1px solid #aba3a3;
	margin-bottom: 10px;
	text-align: center;
}

.imageCatalogueIntuitif:hover {
	opacity: 0.8;
}

.imagePanierIntuitif {
	display: inline-block;
	vertical-align: middle;
	max-width: 168px;
	max-height: 110px;
}

/*+++++++++++++++++++++++++++++++++++++ LISTES ++++++++++++++++++++++++++++++++++++++*/
#enTeteListes {
	height: 28px;
	line-height: 28px;
}

.listes {
	height: auto;
	line-height: normal;
	display: block;
	height: size;
	padding: 0;
	width: 98%;
	position: relative;
}

.libDuFournisseur {
	display: inline-block;
	width: 48%;
	margin-left: 3px;
	height: 9px;
	line-height: 9px;
	margin-bottom: 9px;
	font-size: 11px;
	opacity: 0.6;
}

#gestionDesStocks {
	display: block;
	background: #80b4dc;
	color: white;
	height: 28px;
	line-height: 28px;
	width: 98%;
	margin-left: 1%;
	text-decoration: none;
}

#spanEtatStock {
	display: inline-block;
	margin-left: 3px;
	margin-right: 3px;
	width: 48%;
}

#spanAutresStocks {
	display: inline-block;
	width: 44%;
	font-weight: bold;
}

#magasinsPourStocks {
	display: none;
	width: 98%;
	background: #80b4dc;
	margin-left: 1%;
	margin-bottom: 15px;
	padding-top: 2px;
	padding-bottom: 1%;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

#divInterneMags {
	background: white;
	width: 98%;
	margin-left: 1%;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.changeMags {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-decoration: none;
	color: #3581BA;
	font-weight: bold;
}

.changeMags:nth-child(even) {
	background-color: #eff6fb;
}

.libMagChoix {
	display: inline-block;
	width: 60%;
	margin-left: 2%;
}

.choisirNvMag {
	display: inline-block;
	background: url(../images/decoration/magAuPanier.png) no-repeat;
	width: 35%;
}

#annulerChangement {
	background: url(../images/decoration/croix.png) no-repeat;
}

.conditionnement {
	display: inline-block;
	width: 50%;
	height: 9px;
	line-height: 9px;
	margin-bottom: 9px;
	font-size: 11px;
	opacity: 0.6;
	margin-left: 3px;
}

#popUpAjout {
	z-index: 100;
	position: fixed;
	left: 0px;
	top: 0px;
	display: none;
	height: 50px;
	line-height: 50px;
	width: 260px;
	text-align: center;
	background-color: #009245;
	color: white;
	font-weight: bold;
	border-radius: 10px;
	box-shadow: 2px 2px 2px 0px #c8c2c2;
	opacity: 0.9;
}

.donneesCachees {
	display: none;
}

#contenuFiltresActifs {
	display: block;
}

/*********************** BLOC DES FILTRES ***************************/
#blocDesFiltres {
	width: 97%;
	height: 35px;
	line-height: 35px;
	font-size: 13px;
	margin-left: 1%;
	margin-bottom: 8px;
	border-left: 3px solid #f1ede9;
	border-right: 3px solid #f1ede9;
	border-top: 3px solid #f1ede9;
	border-bottom: 3px solid #f1ede9;
	position: relative;
}

#stockPositif {
	display: inline-block;
	position: absolute;
	top: 11px;
	left: 6px;
}

#lb_stockPositif {
	display: inline-block;
	height: 35px;
	line-height: 35px;
	width: 30%;
	position: absolute;
	top: 0px;
	left: 30px;
}

#choixFournisseur {
	display: inline-block;
	width: 40%;
	position: absolute;
	top: 8px;
	right: 7px;
	height: 21px;
}

/*********************************************************************/
.surligne {
	background-color: #dcd7d7;
	text-decoration: none;
	border-radius: 2px;
}

.CAREF, #titreCAREF {
	width: 14%;
	margin-right: 4px;
	margin-left: 3px;
	height: 28px;
	line-height: 28px;
}

.A1LIB, #titreA1LIB {
	width: 32%;
	margin-right: 4px;
	height: 28px;
	line-height: 28px;
}

.LIBCND {
	width: 7%;
	margin-right: 4px;
	height: 28px;
	line-height: 28px;
}

#titreLIBCND {
	width: 7%;
	margin-right: 4px;
	height: 28px;
	line-height: 28px;
}

.STOCK, #titreSTOCK {
	width: 10%;
	margin-right: 2px;
	text-align: right;
	height: 28px;
	line-height: 28px;
}

.dispoStock {
	background: url(../images/decoration/enStock.png) no-repeat;
	background-position: center;
	width: 100%;
	height: 28px;
	line-height: 28px;
}

.pasDispoStock {
	background: url(../images/decoration/pasEnStock.png) no-repeat;
	background-position: center;
	width: 100%;
	height: 28px;
	line-height: 28px;
}

.pasMagPanier {
	background: url(../images/decoration/sansStock.png) no-repeat;
	background-position: center;
	width: 100%;
	height: 28px;
	line-height: 28px;
}

.aucunStock {
	opacity: 0.7;
	font-size: 10px;
}

.TARIF, #titreTARIF {
	width: 9%;
	text-align: right;
	margin-right: 1%;
	height: 28px;
	line-height: 28px;
}

#titreActions {
	width: 100px;
	text-align: center;
	height: 28px;
	line-height: 28px;
}

#panierGlobal {
	width: 8%;
	height: 28px;
	line-height: 28px;
	margin-left: 1%;
	background-image: url("../images/decoration/ajoutPanierGlobal.png");
	background-repeat: no-repeat;
	background-position: center;
}

#panierGlobal:hover {
	background-color: black;
}

.detailsArticle {
	width: 40px;
	text-align: center;
	background: url(../images/decoration/detailsArticle.png) no-repeat;
	background-position: center;
	height: 28px;
	line-height: 28px;
}

.quantiteArticle {
	display: inline-block;
	width: 50px;
	height: 28px;
	line-height: 28px;
	text-align: center;
}

.saisieQuantite {
	height: 21px;
	line-height: 21px;
	width: 40px;
	text-align: center;
	margin-top: 4px;
}

.moinsArticle {
	width: 25px;
	background: url(../images/decoration/moinsArticles.png) no-repeat;
	background-position: center;
	height: 28px;
	line-height: 28px;
}

.plusArticle {
	width: 25px;
	background: url(../images/decoration/plusArticles.png) no-repeat;
	background-position: center;
	height: 28px;
	line-height: 28px;
}

.ajoutPanier {
	width: 8%;
	background: url(../images/decoration/ajoutPanier.png) no-repeat;
	background-position: center;
	margin-left: 1%;
	height: 28px;
	line-height: 28px;
}

.pastillePromo {
	width: 80px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	position: absolute;
	bottom: 6px;
	right: 5px;
	border: 1px solid #047235;
	background-color: #009245;
	background: -webkit-linear-gradient(#009245, #37AA3C 90%);
	background: -moz-linear-gradient(#009245, #37AA3C 90%);
	background: -ms-linear-gradient(#009245, #37AA3C 90%);
	background: -o-linear-gradient(#009245, #37AA3C 90%);
	background: linear-gradient(#009245, #37AA3C 90%);
	font-size: 0.9em;
	color: white;
	font-weight: bold;
	border-radius: 2px;
	opacity: 0.8;
}

#filtreArticles {
	width: 97%;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	margin-left: 1%;
	margin-bottom: 18px;
	background-color: #f1ede9;
	border-left: 3px solid #f1ede9;
	border-right: 3px solid #f1ede9;
}

#filtreActfis {
	width: 97%;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	margin-left: 1%;
	margin-bottom: 8px;
	background-color: #f1ede9;
	border-left: 3px solid #f1ede9;
	border-right: 3px solid #f1ede9;
}

.fiFournisseur {
	display: inline-block;
	width: 22%;
	margin-left: 2%;
	background: -webkit-linear-gradient(#f1ede9, #dedad6 80%);
	background: -moz-linear-gradient(#f1ede9, #dedad6 80%);
	background: -ms-linear-gradient(#f1ede9, #dedad6 80%);
	background: -o-linear-gradient(#f1ede9, #dedad6 80%);
	background: linear-gradient(#f1ede9, #dedad6 80%);
	border-radius: 2px;
	color: #7C7C7C;
	color: #363636;
	text-decoration: none;
	border: 1px solid #dedad6;
	text-align: center;
	margin-bottom: 6px;
	font-size: 11px;
	height: 24px;
	line-height: 24px;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	opacity: 0.7;
}

.fiFournisseur:hover {
	opacity: 1;
}

h3 {
	margin-bottom: 7px;
	width: 97%;
	border: 3px solid #f1ede9;
}

.libelleFiltre {
	display: inline-block;
	height: 28px;
	line-height: 28px;
	vertical-align: middle;
	width: 45%;
	margin-left: 2%;
}

.AnnFiltre {
	display: inline-block;
	text-decoration: none;
	width: 6%;
	height: 28px;
	line-height: 28px;
	background: url(../images/decoration/croix.png) no-repeat;
	vertical-align: middle;
	background-position: center;
}

.messageRubrique {
	margin-top: 20px;
}

/*++++++++++++++++++++++++++++++++ NAVIGATION GROUPES FAMILLES +++++++++++++++++++++++++++++++*/
#navigationGroupe {
	font-size: 11px;
}

#navigationGroupe a {
	text-decoration: none;
}

#navigMesArticles {
	background: #92A542;
}

.accordeonFamille, .accordeonMesArticles {
	margin: 0;
	display: inline-block;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	width: 6%;
	color: #4a4a54;
	color: white;
	text-align: center;
	margin-left: 2%;
	margin-right: 2%;
	background: #3581ba;
	font-weight: bold;
	border-radius: 1px;
	margin-bottom: 3px;
}

.accordeonMesArticles {
	background: #92A542;
}

.familleArticle {
	margin: 0;
	display: inline-block;
	height: 24px;
	line-height: 24px;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	width: 88%;
	color: #363636;
	opacity: 0.7;
	margin-bottom: 3px;
}

.accordeonSousFamille {
	display: none;
	height: 22px;
	line-height: 22px;
	overflow: hidden;
	width: 4%;
	color: #4a4a54;
	text-align: center;
	margin-left: 4%;
	margin-right: 2%;
	background: #3581ba;
	background: -webkit-linear-gradient(#5fa7de, #3581ba 60%);
	background: -moz-linear-gradient(#5fa7de, #3581ba 60%);
	background: -ms-linear-gradient(#5fa7de, #3581ba 60%);
	background: -o-linear-gradient(#5fa7de, #3581ba 60%);
	background: linear-gradient(#5fa7de, #3581ba 60%);
	opacity: 0.5;
	border-radius: 1px;
	margin-bottom: 3px;
}

.classeSousFamille {
	display: none;
	text-transform: lowercase;
	height: 22px;
	line-height: 22px;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	width: 88%;
	color: #7C7C7C;
	margin-bottom: 3px;
	opacity: 0.8;
}

.classeSousFamille:hover {
	background: #f4f3f1;
}

/*++++++++++++++++++++++++++++++++ AFFICHAGE DETAIL ARTICLE +++++++++++++++++++++++++++++++*/
#detailArticle {
	min-height: 620px;
}

.sousBlocs {
	position: relative;
	width: 100%;
	margin-top: 25px;
}

h5 {
	position: absolute;
	width: 90%;
	height: 20px;
	line-height: 20px;
	top: -20px;
	left: 18px;
	color: #3581ba;
	font-size: 11px;
	text-align: left;
}

.decoH5 {
	position: absolute;
	background: none;
	display: block;
	width: 12px;
	height: 17px;
	top: -20px;
	left: 0;
	background: url(../images/decoration/puceFamille.png) no-repeat;
}

#memoFicheArticle
{
	font-size: 11px;
	color: #4a4a54;
	border:1px solid #f1ede9;
	display:inline-block;
	border-radius:4px;
	width:94%;
	margin-left:3%;
	min-height: 30px;
	line-height: 30px;
	margin-top:10px;
}

#memoFicheArticle span
{
	margin-left: 12px;
	margin-right: 12px;
	line-height: 30px;
}

#blocFiche {
	position: relative;
	width: 100%;
}

#blocGauche {
	position: absolute;
	top: 0;
	width: 45%;
	left: 3%;
}

#blocDroit {
	position: absolute;
	top: 0;
	right: 3%;
	width: 46%;
}

#fi_actions {
	text-align: center;
}

#fi_variantes {
	position: relative;
	width: 94%;
	margin-left: 3%;
	margin-top: 0;
}

.lienSub {
	color: #3581BA;
}

#messagePrincipal {
	width: 94%;
	margin-left: 3%;
	margin-top: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#fi_photo {
	height: 310px;
	display: flex; 
}

#imageArticle {
	width: auto;
	height: auto;
	max-height: 300px;
	max-width: 100%;
	max-width: 100%;
	margin: auto; 
}

#fi_A1CND, #fi_STOCK {
	text-align: right;
}

.labelDonnee {
	display: inline-block;
	width: 30%;
	height: 22px;
	line-height: 22px;
	white-space: nowrap;
	overflow: hidden;
	margin-left: 3%;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	margin-bottom: 5px;
}

#onMetAuPanierInvisible {
	display: none;
}

#popUpPanier {
	z-index: 100;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 35%;
	background-color: white;
	padding-top: 20px;
	display: none;
	border: 1px solid #7C7C7C;
}

#titreMiniPanier {
	width: 92%;
	margin-left: 4%;
	min-height: 26px;
	line-height: 26px;
	font-weight: bold;
	background-color: #3581BA;
	text-align: center;
	margin-bottom: 10px;
	color: white;
}

#presentReference {
	display: inline-block;
	height: 26px;
	line-height: 26px;
	width: 48%;
	margin-left: 2%;
	text-align: left;
	font-weight: normal;
}

#miniReference {
	display: inline-block;
	height: 26px;
	line-height: 26px;
	width: 48%;
	margin-right: 2%;
	text-align: right;
}

#miniLibelle {
	display: inline-block;
	height: 26px;
	line-height: 26px;
	width: 98%;
	margin-right: 2%;
	text-align: right;
}

#estEnPromo {
	width: 98%;
	height: 30px;
	line-height: 30px;
	font-size: 13px;
	margin-left: 1%;
	margin-bottom: 16px;
	border: 1px solid #047235;
	background-color: #009245;
	background: -webkit-linear-gradient(#009245, #37AA3C 90%);
	background: -moz-linear-gradient(#009245, #37AA3C 90%);
	background: -ms-linear-gradient(#009245, #37AA3C 90%);
	background: -o-linear-gradient(#009245, #37AA3C 90%);
	background: linear-gradient(#009245, #37AA3C 90%);
	font-size: 1.1em;
	color: white;
	font-weight: bold;
	border-radius: 2px;
	opacity: 0.9;
	position: relative;
}

#libPromo1 {
	display: inline-block;
	width: 48%;
	position: absolute;
	top: 0;
	left: 2%;
	height: 30px;
	line-height: 30px;
}

#libPromo2 {
	display: inline-block;
	width: 48%;
	position: absolute;
	top: 0;
	right: 2%;
	height: 30px;
	line-height: 30px;
	text-align: right;
}

#textMiniCondition {
	height: 26px;
	line-height: 26px;
	width: 92%;
	margin-left: 4%;
	margin-bottom: 10px;
}

#ligneMiniPanier {
	width: 92%;
	margin-left: 4%;
	height: 30px;
	line-height: 30px;
	margin-bottom: 22px;
	position: relative;
}

#miniMoins, #miniPlus {
	position: absolute;
	top: 0;
	display: inline-block;
	width: 5%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #c8c2c2;
	border-radius: 3px;
	text-decoration: none;
	font-size: 15px;
	color: #7C7C7C;
	box-shadow: 1px 1px 1px 0px #c8c2c2;
}

#miniMoins {
	font-size: 20px;
	left: 0;
}

#miniPlus {
	left: 26%;
}

#divMiniSaisie {
	position: absolute;
	top: 0;
	left: 6%;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	width: 19%;
}

#miniqteSaisie {
	height: 30px;
	line-height: 30px;
	text-align: right;
	width: 91%;
	font-size: 18px;
	display: inline-block;
	border: 1px solid #c8c2c2;
	border-radius: 3px;
	background-color: #f9f8f6;
	color: #7C7C7C;
}

#miniMultipl {
	position: absolute;
	top: 0;
	left: 33%;
	display: inline-block;
	width: 6%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-right: 1%;
	font-size: 20px;
}

#miniTarif {
	position: absolute;
	top: 1px;
	left: 40%;
	display: inline-block;
	font-size: 19px;
	width: 29%;
	height: 30px;
	line-height: 30px;
}

#miniBtPanier, #miniBtRetour {
	position: absolute;
	top: 0;
	display: inline-block;
	width: 13%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #c8c2c2;
	border-radius: 3px;
	box-shadow: 1px 1px 1px 0px #c8c2c2;
	text-decoration: none;
	margin-left: 1%;
}

#miniBtPanier {
	left: 70%;
}

#miniImgPanier {
	height: 30px;
	width: auto;
	border: none;
}

#miniBtRetour {
	left: 85%;
}

#miniImgRetour {
	height: 30px;
	width: auto;
	border: none;
}

.labelDonnee i {
	font-style: italic;
}

.zoneDonnee, .placeholderSpan, .zoneStock {
	display: inline-block;
	height: 22px;
	line-height: 22px;
	border: 1px solid #c8c2c2;
	border-radius: 4px;
	background-color: #f9f8f6;
	white-space: nowrap;
	overflow: hidden;
	margin-left: 2%;
	margin-bottom: 5px;
}

.zoneStock {
	width: 25%;
	text-align: right;
}

.liensMultiStocks {
	display: inline-block;
	height: 22px;
	line-height: 22px;
	white-space: nowrap;
	overflow: hidden;
	margin-left: 2%;
	margin-bottom: 5px;
	width: 10%;
}

.liensMultiStocks img {
	height: 100%;
	width: auto;
}

.zoneStock span {
	border: none;
	background: none;
	margin-left: 3px;
	margin-right: 3px;
	height: 22px;
	line-height: 22px;
}

.reassort {
	display: inline-block;
	height: 22px;
	line-height: 22px;
	width: 18%;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: 5px;
	margin-left: 2%;
	text-align: right;
}

.lienReassort {
	display: inline-block;
	width: 8%;
	height: 22px;
	line-height: 22px;
	margin-bottom: 5px;
	margin-left: 1%;
	white-space: nowrap;
	overflow: hidden;
	background: url(../images/decoration/infoBulle.png) no-repeat;
}

.lienReassort:hover, .reassort:hover {
	cursor: pointer;
}

.infoBulle {
	display: none;
	position: absolute;
	left: 20px;
	background-color: #f9f8f6;
	border: 1px solid gray;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	z-index: 50;
}

#titreMultiStocks {
	border-bottom: 1px solid #e1e0de;
	width: 93%;
	margin-left: 3%;
	height: 20px;
	line-height: 20px;
	margin-bottom: 12px;
}

.placeholderSpan {
	color: #c8c2c2;
}

#fi_A1ART, #fi_A1CL1, #fi_A1CL2, #fi_A1LIB, #fi_FRNOM, #fi_CAREF, #fi_A1FAM, #fi_A1SFA {
	width: 61%;
}

#fi_ATP01, #fi_TARIF {
	width: 25%;
	text-align: right;
}

#fi_A1CND, #fi_LIBUNV, #fi_STOCK, #fi_dateReassort {
	width: 25%;
}

.zoneDonnee span, .placeholderSpan span {
	border: none;
	background: none;
	margin-left: 3px;
	margin-right: 3px;
	height: 22px;
	line-height: 22px;
}

.btActions span {
	border: none;
	background: none;
	display: inline-block;
	color: #3581ba;
	font-weight: bold;
}

#divFicheFournisseur
{
	width:96%;
	height:52px;
	position:relative;
}

#labelFiche {
	position: absolute;
	left:3%;
	width: 30%;
	height: 52px;
	line-height: 52px;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

#ficheTechnique {
	position: absolute;
	bottom:0;
	left: 36%;
	width: 140px;
}

#texteStock {
	border: 1px solid #c8c2c2;
	width: 94%;
	margin-left: 3%;
	margin-top: 10px;
	line-height: 23px;
	background-color: #f4f3f1;
	border-radius: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#texteStock i {
	font-style: normal;
	display: inline-block;
	line-height: 23px;
}

#paddTexteStock {
	margin-left: 7px;
	margin-right: 7px;
}

#alertTexteStock {
	width: 35px;
	background: url(../images/decoration/puceAlerte.png) no-repeat;
}

#alertMajStock {
	width: 35px;
	background: url(../images/decoration/puceMAJ.png) no-repeat;
}

#lienStock {
	display: block;
	height: 50px;
	width: 30%;
	border: 1px solid #c8c2c2;
	border-radius: 4px;
	position: absolute;
	top: 16px;
	left: 65%;
	background: #f4f3f1;
	background: -webkit-linear-gradient(white, #f4f3f1 80%);
	background: -moz-linear-gradient(white, #f4f3f1 80%);
	background: -ms-linear-gradient(white, #f4f3f1 80%);
	background: -o-linear-gradient(white, #f4f3f1 80%);
	background: linear-gradient(white, #f4f3f1 80%);
	text-decoration: none;
}

#lienStock span {
	border: none;
	background: none;
	display: inline-block;
	color: #3581ba;
	font-weight: bold;
}

a#lienStock {
	box-shadow: 1px 1px 1px 0px #c8c2c2;
}

a#lienStock:hover {
	opacity: 0.8;
}

.btActions {
	display: inline-block;
	height: 50px;
	width: 29%;
	border: 1px solid #c8c2c2;
	border-radius: 4px;
	background: #f4f3f1;
	background: -webkit-linear-gradient(white, #f4f3f1 80%);
	background: -moz-linear-gradient(white, #f4f3f1 80%);
	background: -ms-linear-gradient(white, #f4f3f1 80%);
	background: -o-linear-gradient(white, #f4f3f1 80%);
	background: linear-gradient(white, #f4f3f1 80%);
	box-shadow: 1px 1px 1px 0px #c8c2c2;
	position: relative;
}

p.btActions {
	opacity: 0.4;
	box-shadow: none;
}

.btActions:nth-of-type(3) {
	margin-left: 3%;
}

.btActions:nth-of-type(4) {
	margin-left: 3%;
}

#panierOpaque {
	opacity: 0.8;
}

#etatFavori {
	width: 92%;
	margin-left: 4%;
	margin-top: 10px;
	text-align: left;
}

#artPasFavori, #artFavori {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	width: 100%;
}

#artFavori {
	background: #92A542;
	color: white;
	font-weight: bold;
	text-align: center;
	border-radius: 3px;
	opacity: 0.8;
}

#quantiteUnArticle {
	display: none;
}

#textePourPanier {
	display: block;
	width: 92%;
	margin-left: 4%;
	border-radius: 3px;
	margin-bottom: 16px;
	text-align: left;
	border: 1px solid #c8c2c2;
	background-color: #f4f3f1;
}

.spanTextePourPanier {
	display: inline-block;
	margin: 10px;
	font-weight: normal;
	line-height: 20px;
}

#spanGras {
	font-weight: bold;
}

#textePourPanier a {
	color: #7C7C7C;
	display: inline-block;
}

/** ++++++++++++++++++++++++++++++++++ PROMOTIONS ++++++++++++++++++++++++++++++++++++*/
#promosNavigation {
	padding: 0;
	margin: 0;
	width: 100%;
	margin-top: 10px;
}

.unePromo {
	padding: 0;
	margin: 0;
	width: 92%;
	position: relative;
	margin-left: 4%;
	margin-bottom: 10px;
	border: 1px solid #3581BA;
}

.imagePromotion {
	margin: 0;
	padding: 0;
	z-index: 6;
	width: 100%;
	background-color: white;
	text-align: center;
}

.imagePromo {
	margin:0;
	padding:0;
	max-width: 100%;
	height:auto;
}

.prixPromo {
	z-index: 7;
	position: absolute;
	top: 16px;
	right: -5px;
	width: 70px;
	border: 1px solid #047235;
	height: 22px;
	line-height: 22px;
	background-color: #009245;
	background: -webkit-linear-gradient(#009245, #37AA3C 90%);
	background: -moz-linear-gradient(#009245, #37AA3C 90%);
	background: -ms-linear-gradient(#009245, #37AA3C 90%);
	background: -o-linear-gradient(#009245, #37AA3C 90%);
	background: linear-gradient(#009245, #37AA3C 90%);
	color: white;
	font-weight: bold;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	text-align: center;
}

.detailsPromotion {
	border: 1px solid #3581BA;
	background: -webkit-linear-gradient(#276F9B, #3581BA 80%);
	background: -moz-linear-gradient(#276F9B, #3581BA 80%);
	background: -ms-linear-gradient(#276F9B, #3581BA 80%);
	background: -o-linear-gradient(#276F9B, #3581BA 80%);
	background: linear-gradient(#276F9B, #3581BA 80%);
	color: white;
	text-align: left;
}

.detailLibPromo {
	display: block;
	font-weight: bold;
	font-size: 0.9em;
	height: 18px;
	line-height: 18px;
	width: 96%;
	margin-left: 2%;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.textePromo {
	display: block;
	font-size: 0.9em;
	line-height: 16px;
	width: 96%;
	margin-left: 2%;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.validPromo {
	display: block;
	width: 96%;
	margin-left: 2%;
	height: 18px;
	line-height: 18px;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	font-size: 0.9em;
}

/** ++++++++++++++++++++++++++++++++++ RESPONSIVE DESIGN ++++++++++++++++++++++++++++++++++++*/
@media only screen and (max-width:1250px) {
	#blocCatalogue {
		min-height: 910px;
	}
	.blocGroupe, .blocGroupePI {
		margin-left: 50px;
	}
}

@media only screen and (max-width:1140px) {
	.blocGroupe, .blocGroupePI {
		margin-left: 30px;
	}
	#popUpPanier {
		width: 40%;
	}
}

@media only screen and (max-width:1024px) {
	.blocGroupe, .blocGroupePI {
		margin-left: 35px;
	}
	#popUpPanier {
		width: 50%;
	}
	#choixFournisseur {
		width: 50%;
	}
}

@media only screen and (max-width:960px) {
	.blocGroupe, .blocGroupePI {
		margin-left: 25px;
	}
	.fiFournisseur {
		width: 23%;
		margin-left: 1%;
	}
	a.A1LIB, #titreA1LIB {
		width: 31%;
	}
	.TARIF, #titreTARIF {
		width: 10%;
	}
	.btActions:nth-of-type(2) {
		margin-left: 2%;
	}
	.btActions:nth-of-type(3) {
		margin-left: 2%;
	}
	.btActions img {
		
	}
	.btActions span {
		font-size: 11px;
		text-align: left;
		padding: 0;
	}
	#spanEtatStock {
		width: 47%;
		margin-right: 0;
	}
}

@media only screen and (max-width:860px) {
	#blocCatalogue {
		min-height: 1170px;
	}
	#navigationGroupe {
		width: 26%;
	}
	#listeArticles {
		width: 73%;
		margin-left: 27%;
	}
	.blocGroupe, .blocGroupePI {
		margin-left: 50px;
	}
	.fiFournisseur {
		width: 31%;
		margin-left: 1%;
		font-size: 12px;
	}
	#spanEtatStock {
		width: 50%;
	}
	.aCacher {
		display: none;
	}
	a.LIBCND, #titreLIBCND, a.detailsArticle {
		display: none;
	}
	a.STOCK, #titreSTOCK {
		width: 9%;
	}
	a.CAREF, #titreCAREF {
		width: 16%;
	}
	a.A1LIB, #titreA1LIB {
		width: 31%;
	}
	.TARIF, #titreTARIF {
		width: 12%;
	}
	.decoGroupes {
		width: 10%;
	}
	.libGroupe {
		width: 88%;
	}
	.accordeonFamille {
		width: 10%;
	}
	.familleArticle, .classeSousFamille {
		width: 84%;
	}
	.accordeonSousFamille {
		width: 6%;
		margin-left: 6%;
	}
	#etatFavori {
		margin-top: 20px;
	}
	#lienStock {
		width: 23%;
		left: 73%;
		text-align: center;
	}
	#lienStock span {
		display: none;
	}
	#ficheTechnique span {
		display: none;
	}
	.btActions {
		text-align: center;
	}
	.btActions span {
		font-size: 12px;
		position: absolute;
		width: 100%;
		left: 0;
		bottom: -27px;
		text-align: center;
	}
	#fi_ATP01, #fi_TARIF {
		width: 32%;
	}
	.ajoutPanier, #panierGlobal {
		width: 9%;
		margin-left: 0;
	}
	#popUpPanier {
		width: 55%;
	}
}

@media only screen and (max-width:700px) {
	h2 {
		left: 0;
	}
	#h2Catalogue {
		left: 0px;
		margin-bottom: 0;
	}
	h3 {
		width: 99%;
	}
	#navigationGroupe {
		width: 0%;
		display: none;
	}
	#filtreArticles {
		width: 100%;
		margin-left: 0;
		border-left: none;
		border-right: none;
	}
	#contenuFiltres {
		width: 100%;
		margin-left: 0;
		border-left: none;
		border-right: none;
	}
	#listeArticles {
		width: 100%;
		margin-left: 0;
	}
	.blocGroupe, .blocGroupePI {
		margin-left: 30px;
	}
	.fiFournisseur {
		width: 32%;
		margin-left: 1%;
	}
	#spanEtatStock {
		width: 51%;
	}
	.moinsArticle {
		width: 35px;
	}
	.plusArticle {
		width: 35px;
	}
	#titreActions {
		width: 120px;
	}
	h5 {
		left: 15px;
	}
	#popUpPanier {
		width: 65%;
	}
	#blocGauche {
		position: relative;
		top: inherit;
		width: 96%;
		left: inherit;
		margin-left: 2%;
	}
	#blocDroit {
		position: relative;
		top: inherit;
		width: 96%;
		right: inherit;
		margin-left: 2%;
	}
}

@media only screen and (max-width:620px) {
	.blocGroupe, .blocGroupePI {
		margin-left: 20px;
	}
	a.moinsArticle {
		display: none;
	}
	a.plusArticle {
		display: none;
	}
	#titreActions {
		width: 50px;
		margin-right: 2%;
	}
	#spanEtatStock {
		width: 56%;
	}
	#spanAutresStocks {
		width: 42%;
	}
	.listes a {
		height: 35px;
		line-height: 35px;
		font-size: 13px;
	}
	.listes span {
		height: 35px;
		line-height: 35px;
	}
	.quantiteArticle {
		height: 35px;
		line-height: 35px;
		margin-left: 0;
		margin-right: 0;
	}
	saisieQuantite {
		height: 28px;
		line-height: 28px;
		font-size: 13px;
		margin-right: 0;
		margin-left: 0;
	}
	a.CAREF, #titreCAREF {
		width: 16%;
	}
	a.A1LIB, #titreA1LIB {
		width: 37%;
	}
	a.TARIF, #titreTARIF {
		width: 13%;
		margin-right: 12px;
	}
	.quantiteArticle {
		margin-right: 2%;
	}
	#popUpPanier {
		width: 75%;
	}
}

@media only screen and (max-width:580px) {
	#blocCatalogue {
		min-height: 0;
	}
	.blocGroupe, .blocGroupePI {
		float: none;
		height: auto;
		margin-left: 3%;
		width: 94%;
		margin-bottom: 20px;
	}
	.groupeCatalogue {
		font-size: 15px;
		width: 100%;
		height: 23px;
		line-height: 23px;
		border-bottom: 2px solid #3581BA;
		margin-bottom: 6px;
	}
	#groupeMesArticles {
		border-bottom: 2px solid #92A542;
	}
	#gestionDesStocks, #magasinsPourStocks {
		display: none;
	}
	.imagegroupeCatalogue {
		display: none;
	}
	.familleCatalogue {
		width: 100%;
	}
	a.CAREF, #titreCAREF {
		width: 20%;
	}
	a.A1LIB, #titreA1LIB {
		width: 36%;
	}
	a.TARIF, #titreTARIF {
		width: 16%;
	}
	a.STOCK, #titreSTOCK {
		display: none;
	}
	.quantiteArticle {
		margin-right: 2%;
	}
	#choixFournisseur {
		width: 60%;
	}
}

@media only screen and (max-width:500px) {
	.listes {
		width: 100%;
		margin-left: 0;
	}
	.libDuFournisseur {
		display: none;
	}
	.conditionnement {
		width: 95%;
		margin-left: 4px;
	}
	a.CAREF, #titreCAREF {
		width: 46%;
		margin-left: 5px;
	}
	a.A1LIB, #titreA1LIB {
		display: none;
	}
	a.TARIF, #titreTARIF {
		width: 20%;
		margin-right: 9px;
	}
	.quantiteArticle, #titreActions {
		margin-right: 5%;
	}
	.ajoutPanier, #panierGlobal {
		width: 11%;
	}
	.fiFournisseur {
		width: 47%;
		margin-left: 2%;
	}
	#popUpPanier {
		width: 86%;
	}
}

@media only screen and (max-width:400px) {
	a.CAREF, #titreCAREF {
		width: 40%;
	}
	a.TARIF, #titreTARIF {
		width: 20%;
	}
	.ajoutPanier {
		width: 13%;
	}
	#popUpPanier {
		width: 98%;
	}
}