.lignesFormulaires
{
	width:96%;
	height:30px;
}

.labelparam
{
	display:inline-block;
	line-height:19px;
	font-size:14px;
	width:350px;
	margin-right:0;
	margin-left:5%;
}

.valparam
{
	display:inline-block;
	line-height:19px;
	font-size:12px;
	width:160px;
	margin-left:180px;
}

.valparam:focus
{
background-color:yellow;
}
.btnMAJ
{
	margin-top:2%;
	margin-left:5%;
	margin-bottom:5px;
	width:15%;
	height:26px;
	cursor:pointer;
	background:#f4f3f1;
  	background: -webkit-linear-gradient(white, #f4f3f1 80%);
	background: -moz-linear-gradient(white,#f4f3f1 80%);
	background: -ms-linear-gradient(white, #f4f3f1 80%);
	background:  -o-linear-gradient(white, #f4f3f1 80%);
	background: linear-gradient(white, #f4f3f1 80%);
}
.lignesFormulaires:nth-child(odd)
{
	background-color:#f4f3f1;
}

.bouton
{
	display:inline-block;
	width:125px;
	margin-left:5%;
	
	
}
.textLabel
{
	margin-left:5%;
	display: block;
	width: 180px;
	margin-bottom:5px;
	
}
.textLabelImage
{
	font-size:15px;
	margin-left:5%;
}
.fileUpload
{
	margin-left:5%;
	border-radius:5px;
	box-shadow:1px 1px 2px #C0C0C0 inset;
	position: relative;
}