.lignesFormulaires,#lignesFormTitre
{
	width:96%;
	height:25px;
	line-height:25px;
	margin-left:2%;
}

#lignesFormTitre
{
	font-weight:bold;
	margin-bottom:5px;
}

.labelparam, #labelparamTitre
{
	display:inline-block;
	height:25px;
	line-height:25px;
	font-size:12px;
	width:20%;
	margin-right:1%;
	vertical-align: top;
}



.spanRadios, .spanRadiosTitre
{
	display:inline-block;
	height:25px;
	line-height:25px;
	font-size:12px;
	width:9%;
}

.btnRadio
{
	margin-top:3px;
	cursor:pointer;
	height:15px;
	width:15px;
}

#btValDebug
{
	width:15%;
	margin-top:15px;
	margin-left:2%;
	height:25px;
	line-height:25px;
	background-color: #f1ede9;
	
}

#btValDebug:hover
{
	background-color: white;
	cursor: pointer;
}