.listeFooter
{
	display:inline-block;
	text-decoration:none;
	width:90%;
	min-height:24px;
	line-height:24px;
	color:#4a4a54;
	opacity:0.8;
}

.listeFooter:hover
{
	opacity:1;
	background-color:#f4f3f1;
}

.elementFootLibe, .elementFootLang, .elementFootLien
{
	display:inline-block;
	height:24px;
	line-height:24px;
	margin-left:2%;
}

.elementFootLibe
{
	width:30%;
}

.elementFootLang
{
	width:20%;
}

.elementFootLien
{
	width:40%;
}

.suppFooter
{
	width:5%;
	height:24px;
	line-height:24px;
}


#imageSuppr
{
	display:inline-block;
	height:16px;
	text-align:right;
}


/************************** FORMULAIRE **************************/

#formFooter
{
	display:block;
	margin-left:2%;
	width:93%;
}

.labelFooter
{
	display:inline-block;
	width:20%;
	margin-bottom:8px;
}

select
{
	width:150px;
}

#libFooter
{
	width:146px;
}

#lienFooter
{
	width:350px;
}

.btnMAJ
{
	margin-top:2%;
	margin-bottom:7px;
	width:15%;
	height:26px;
	cursor:pointer;
	background:#f4f3f1;
  	background: -webkit-linear-gradient(white, #f4f3f1 80%);
	background: -moz-linear-gradient(white,#f4f3f1 80%);
	background: -ms-linear-gradient(white, #f4f3f1 80%);
	background:  -o-linear-gradient(white, #f4f3f1 80%);
	background: linear-gradient(white, #f4f3f1 80%);
}