h3
{
	width:90%;
	margin-left:5%;
}

textarea
{
	padding:3px;
	background-color:#f9f8f6;
	font:12px 'Open Sans', sans-serif;
	border:none;
	border:1px solid #9d9696;
	border-radius:4px;
	resize: none;
	color:#4a4a54;
}

#formChoixLangue
{
	width:90%;
	margin-left:5%;
}

#formChoixLangue select
{
	font-size:13px;
	font-weight:bold;
	width:150px;
	height:28px;
}

h3
{
	margin-top:25px;
}

.zone
{
	min-height:5px;
	margin-bottom:15px;
	width:90%;
	margin-left:5%;
	height:150px;
}

.textLabel
{
	margin-left:5%;
	display: inline-block;
	width: 20%;
	margin-bottom:5px;
}

.zoneTitre
{
	min-height:5px;
	margin-bottom:15px;
	width:70%;
	background-color:#f9f8f6;
	height:22px;
}

.btnMAJ
{
	margin-top:2%;
	margin-left:5%;
	margin-bottom:5px;
	width:15%;
	height:26px;
	cursor:pointer;
	background:#f4f3f1;
  	background: -webkit-linear-gradient(white, #f4f3f1 80%);
	background: -moz-linear-gradient(white,#f4f3f1 80%);
	background: -ms-linear-gradient(white, #f4f3f1 80%);
	background:  -o-linear-gradient(white, #f4f3f1 80%);
	background: linear-gradient(white, #f4f3f1 80%);
}

.btnMAJ:hover
{
	opacity:0.7;
}

/*


.fileUpload
{
	margin-left:5%;
	border-radius:5px;
	box-shadow:1px 1px 2px #C0C0C0 inset;
	position: relative;
}
.textLabelImage
{
	font-size:15px;
	margin-left:5%;
}
.nomImage
{
	margin-left:5%;
}

#miseAjour
{
	z-index:100;
	position:fixed;
	left:0px;
	top:0px;
	display:none;
	height:60px;
	line-height:60px;
	width:260px;
	text-align:center;
	color:black;
	background:green;
	border:1px solid #7C7C7C;
	box-shadow: 2px 2px 2px 0px #363636;
	font-weight:bold;
	font-size:13px;
	border-radius:10px;
	
	opacity:0.7;
	
}

*/
