@CHARSET "ISO-8859-1";

*
{
	margin:0; 
	padding:0;
}

body
{
	border:0;
	/*height:100%;*/
	color:#7C7C7C;
	/*font:13px 'Open Sans', sans-serif;*/
	font-size:13px;
	font-family: sans-serif;
	background:#f1ede9;
	padding-top:30px;
	width:100%;
	text-align:center;
}

table
{
	width:80%;
	background-color:white;
	border-left:1px solid #7C7C7C;
	border-right:1px solid #7C7C7C;
	margin:auto;
	text-align:left;
	border-collapse: collapse;
}

tr
{
	/* width:100%; */
}

#presMail
{
	border-top:1px solid #7C7C7C;
}

#piedDeMail
{
	border-bottom:1px solid #7C7C7C;
}

#serveurEmetteur
{
	width:31%;
	height:70px;	
	font-size:20px;
	vertical-align: bottom;
}

#imageDecoration
{
	width:48%;
	height:70px;
}

#WebShop
{
	width:17%;
	height:70px;
	text-align:right;
	vertical-align: bottom;
}

#webMail
{
	font-size:29px;
	color:#3581BA;
	font-weight:bold;
}

#shopMail
{
	font-size:34px;
	color:#7C7C7C;
	font-weight:bold;
}

td
{
	/*border:1px solid black;*/
	font-size:12px;
}

.messagePiedMail
{
	width:96%;
	height:20px;
	max-height:20px;
}

.separationMail
{
	height:8px;
	max-height:8px;
	background-color:#7C7C7C;
}

.paddingHorizontal
{
	width:2%;
	min-width:2%;
}

.paddingVertical
{
	height:20px;
	max-height:20px;
}

#paddingTete
{
	height:6px;
	max-height:6px;
}

#messNoReturn
{
	font-weight:bold;
}


/**
************************************ CONTENU ******************************************
*/


/****************** CONTACT ********************/

#envoiContact
{
	font-size:12px;
}

.lignesContenu
{
	height:24px;
	font-size:13px;
}

.h2Mail
{
	background-color:#3581BA;
	height:27px;
	/*line-height:27px;*/
	color:white;
	font-size:16px;
	font-weight:bold;
	text-align:center;
}

#messageContact
{
	font-size:14px;
	font-weight:bold;
	font-style:italic;
}

.messageDeConf
{
	font-size:13px;
	font-weight:bold;
	height:26px;
}


/****************** COMMANDES ********************/

#modeExpe
{
	height:24px;
	font-size:13px;
}

.infosLivr
{
	height:24px;
	font-size:13px;
}

#cdpMail
{
	height:24px;
	width:10%;
	font-size:13px;
}

#villeMail
{
	height:24px;
	width:80%;
	font-size:13px;
}

.lbRefCde, .refCde
{
	height:24px;
	font-size:13px;
}

#enteteliste
{
	font-size:14px;
	color:white;
	text-align:center;
	background-color:#7C7C7C;
	height:26px;
	/* width:100%; */
	font-weight:bold;
}

.refArticleMail
{
	font-size:13px;
	height:26px;
	width:18%;
}

.libArticleMail
{
	font-size:13px;
	height:26px;
	width:33%;
}

.qteArticleMail
{
	font-size:13px;
	height:26px;
	text-align:right;
	width:8%;
}

.multipleMail
{
	font-size:13px;
	height:26px;
	width:5%;
	text-align:right;
}

.tarifArticleMail, .totalArticleMail
{
	font-size:13px;
	height:26px;
	width:16%;
	text-align:right;
}

#totalCommandeMail
{
	font-size:13px;
	height:26px;
	/* width:96%; */
	text-align:right;
	font-weight:bold;
	border-top:1px solid #7C7C7C;
}
