/******************************** DETAIL D'UNE PROMOTION **********************************/
.textLabel {
	margin-left: 5%;
	display: inline-block;
	width: 180px;
	font-size: 1.1em;
}

.zoneSaisie {
	display: inline-block;
	margin-bottom: 10px;
}

#idDateDebut, #idDateFin {
	width: 74px;
	text-align: center;
}

#etbArticle {
	width: 32px;
}

#libPromotion, #codeArticle, #libelleArt {
	width: 400px;
}

#prixArticle {
	width: 74px;
	text-align: right;
}

#precoImage {
	display: block;
	width: 55%;
	margin-left: 5%;
	margin-top: 20px;
	border: 1px solid gray;
	padding: 12px;
	line-height: 20px;
	border-radius: 3px;
}

/******************************************************************************************/
/**************************************LISTE PROMOTION ************************************/
#titrelibelles {
	width: 20%;
	margin-left: 5px;
	margin-right: 30px;
}

#titreTEXTE {
	width: 20%;
	margin-right: 30px;
}

#titrePRIX {
	width: 15%;
	margin-right: 30px;
}

#dateFin {
	width: 15%;
	margin-right: 30px;
}

.btnMAJ {
	margin-top: 2%;
	margin-left: 5%;
	margin-bottom: 5px;
	width: 15%;
	height: 26px;
	cursor: pointer;
	background: #f4f3f1;
	background: -webkit-linear-gradient(white, #f4f3f1 80%);
	background: -moz-linear-gradient(white, #f4f3f1 80%);
	background: -ms-linear-gradient(white, #f4f3f1 80%);
	background: -o-linear-gradient(white, #f4f3f1 80%);
	background: linear-gradient(white, #f4f3f1 80%);
}

#popUpAjout {
	z-index: 100;
	position: fixed;
	left: 0px;
	top: 0px;
	display: none;
	height: 50px;
	line-height: 50px;
	width: 260px;
	text-align: center;
	background-color: #009245;
	color: white;
	font-weight: bold;
	border-radius: 10px;
	box-shadow: 2px 2px 2px 0px #c8c2c2;
	opacity: 0.9;
}

.codeArticle {
	display: inline-block;
	margin-left: 1%;
	width: 13%;
}

.libelle {
	display: inline-block;
	width: 24%;
}

.texte {
	display: inline-block;
	width: 25%;
}

.prix {
	display: inline-block;
	width: 9%;
}

.dateDeb {
	display: inline-block;
	width: 9%;
}

.dateFin {
	display: inline-block;
	width: 9%;
}

.statut {
	display: inline-block;
	width: 9%;
}

.zone {
	margin-left: 5%;
	/*margin-bottom:15px;*/
	width: 15%;
	/*height:140px;*/
	background-color: #f9f8f6;
	font: 12px 'Open Sans', sans-serif;
	border: none;
	border: 1px solid #9d9696;
	border-radius: 4px;
	resize: none;
	background-color: #f9f8f6;
	min-height: 5px;
	height: 50px;
}

.textLabelImagel {
	margin-left: 5%;
	font-size: 15px;
}

.
#fileUpload {
	width: 360px;
	height: 25px;
	line-height: 25px;
}

#blocUpLoad {
	position: relative;
	min-height: 300px;
	padding-top: 15px;
}

#imagePromotion {
	position: absolute;
	border: 1px solid gray;
	top: 65px;
	right: 30px;
}

#imagePromo {
	max-width: 250px;
	height: auto;
}

#ajouterPromotion {
	text-align: center;
	margin-left: 1%;
	display: block;
	margin-bottom: 2%;
	cursor: pointer;
	width: 20%;
	height: 26px;
	border: 1px solid #7C7C7C;
	line-height: 25px;
	font-size: 14px;
	color: #7C7C7C;
	text-decoration: none;
	background: -webkit-linear-gradient(#f1ede9, #dedad6 80%);
	background: -moz-linear-gradient(#f1ede9, #dedad6 80%);
	background: -ms-linear-gradient(#f1ede9, #dedad6 80%);
	background: -o-linear-gradient(#f1ede9, #dedad6 80%);
	background: linear-gradient(#f1ede9, #dedad6 80%);
	border-radius: 2px;
}

.accordeon2 {
	width: 97%;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	margin-left: 1%;
	margin-bottom: 0px;
	background-color: #f1ede9;
	border-left: 3px solid #f1ede9;
	border-right: 3px solid #f1ede9;
	margin-top: 20px;
	text-align: center;
	font-weight: bold;
}

.contenuAccordeon2 {
	width: 97%;
	margin-bottom: 18px;
	border: 3px solid #f1ede9;
	margin-left: 1%;
	padding-top: 10px;
	padding-bottom: 10px;
}

#selectStt {
	height: 24px;
	line-height: 24px;
	width: 160px;
	color: #7C7C7C;
	margin-left: 6px;
}