.messageRubrique
{
	background-color:#3581BA;
	border:none;
	color:white;
	opacity:0.6;
	min-height:27px;
	line-height:27px;
}

.listesPanier
{
	height:auto;
	line-height:normal;
	display:block;
	height:size;
	padding:0;
	width:90%;
	color:#4a4a54;
	margin-left:5%;
}

.listesPanier:nth-child(even)
{
	background-color:#f4f3f1;
}

.listesPanier span
{
	height:28px;
	line-height:28px;
	white-space: nowrap;
	overflow:hidden;
	-o-text-overflow: ellipsis; 
  	text-overflow: ellipsis;
}

.listesPanier a
{
	text-decoration:none;
	height:28px;
	line-height:28px;
	color:#4a4a54;
	white-space: nowrap;
	overflow:hidden;
	-o-text-overflow: ellipsis; 
  	text-overflow: ellipsis;
}

.listesCommentaires
{
	display:block;
	text-decoration:none;
	min-height:25px;
	line-height:25px;
	background-color:#3581BA;
	color:white;
	width:90%;
	margin-left:1%;
	padding:0;
	opacity:0.6;
	margin-top:15px;
	margin-left:5%;
}

.txtCommentaires
{
	display:inline-block;
	min-height:25px;
	line-height:25px;
	width:100%;
	text-align:center;
	font-weight:bold;
}

#spanRouge
{
	background-color:#C63838;
}

/******************* LIGNES D'ARTICLES ************************************/

#titreActionsP
{
	display:inline-block;
	width:60px;
	margin-left:3%;
	text-align:center;
	
}

.CAREF2, #titreCAREF2
{
	display:inline-block;
	width:15%;
	margin-right:4px;
	margin-left:3px;
}

.A1LIB2, #titreA1LIB2
{
	display:inline-block;
	width:33%;
	margin-right:4px;
}

.LIBCND2, #titreLIBCND2
{
	display:inline-block;
  	width:8%;
  	margin-right:4px;
}

.STOCK2, #titreSTOCK2
{
  	width:7%;
  	margin-right:4px;
  	display:inline-block;
  	text-align:right;
}

.dispoStock
{
	display:inline-block;
	background:url(../images/decoration/enStock.png) no-repeat;
  	background-position: center;
  	width:100%;
}

.pasDispoStock
{
	display:inline-block;
	background:url(../images/decoration/pasEnStock.png) no-repeat;
  	background-position: center;
  	width:100%;
}

.pasMagPanier2
{
	background:url(../images/decoration/sansStock.png) no-repeat;
  	background-position: center;
  	width:100%;
}

.aucunStock2
{
	opacity:0.7;
	font-size:10px;
}

.TARIF2, #titreTARIF2
{
	display:inline-block;
  	width:10%;
  	text-align:right;
  	margin-right:4px;
}

.TOTALLIGNE, #titreTOTALLIGNE
{
	display:inline-block;
  	width:11%;
  	text-align:right;
}

.quantiteArticleP
{
	display:inline-block;
	width:60px;
	height:28px;
	line-height:28px;
  	text-align:center;
  	margin-left:3%;
}

.saisieQuantiteP
{
	display:inline-block;
	height:21px;
	line-height:21px;
	width:40px;
	text-align:center;
	background-color: white;
	margin-top:4px;
}

.suppPanier
{
	display:inline-block;
	width:60px;
	background:url(../images/decoration/croix.png) no-repeat;
  	background-position: center;
  	margin-left:4px;
}

#bilanPanier
{
	text-align:right;
	font-weight:bold;
	margin-top:0;
	margin-bottom:20px;
	font-size:13px;
}

#bilanPanier span
{
	display:inline-block;
	margin-right:10px;
}

.conditionnement
{
	display:inline-block;
	width:60%;
	height:9px;
	line-height:9px;
	margin-bottom:9px;
	font-size:11px;
	opacity:0.6;
	margin-left:3px;
}

.ecotaxeP
{
	display:inline-block;
	width:37%;
	height:9px;
	line-height:9px;
	margin-bottom:9px;
	font-size:11px;
	opacity:0.6;
	text-align:right;
	margin-left:1%;
}

#totalHTPanier
{
	width:95%;
	height:30px;
	line-height:30px;
}

#totalECOTAX
{
	font-weight:normal;
	width:95%;
	height:14px;
	line-height:14px;
	font-size:11px;
}

#francoPanier
{
	color:#3581BA;
	min-height:20px;
	line-height:20px;
	font-size:13px;
	margin-bottom:20px;
	font-weight:bold;
}

/******************************************************************************/

.rubriquePanier
{
	margin-bottom:30px;
}

#modeRecup,#finDeBon
{
	text-align:center;
}

#deco_bt_livraison
{
	background:url(../images/decoration/livraison.png) no-repeat;
}

#deco_bt_devis
{
	background:url(../images/decoration/devis.png) no-repeat;
}

#deco_bt_valider
{
	background:url(../images/decoration/validerCommande.png) no-repeat;
}

#deco_bt_annuler
{
	background:url(../images/decoration/annulerPanier.png) no-repeat;
}

#deco_bt_plusArt
{
	background:url(../images/decoration/ajouterArticle.png) no-repeat;
}

#blocDeRetour
{
	margin-top:10px;
}

#deco_bt_retour
{
	background:url(../images/decoration/fiche_retour.png) no-repeat;
}

.texte_bt
{
	display:inline-block;
	height:50px;
	width:67%;
	text-align:center;
}

h3
{
	text-align:left;
}

.accordeon2
{
	width:89%;
	height:24px;
	line-height:24px;
	font-size:12px;
	margin-left:5%;
	margin-bottom:0px;
	background-color:#f1ede9;
	border-left:3px solid #f1ede9;
	border-right:3px solid #f1ede9;
	margin-top:20px;
}

.contenuAccordeon2
{
	display:none;
	width:89%;
	margin-bottom:18px;
	border:3px solid #f1ede9;
	margin-left:5%;
	padding-top:10px;
	padding-bottom:10px;
}

#choixMagasin
{
	display:none;
}

#contenuChangerMode
{
	padding-bottom:20px;
}

#infosRetrait
{
	display:block;
}

#contenuInfosRetrait
{
	text-align:left;
}

.ligneAccordeon
{
	display:block;
	text-decoration:none;
	height:30px;
	line-height:30px;
	color:#7C7C7C;
	width:96%;
	margin-left:2%;
	text-align:left;
}

.ligneAccordeon:nth-child(odd)
{
	background-color:#f4f3f1;
}

.libMagasinPanier
{
	display:inline-block;
	width:30%;
	margin-left:2%;
}

.magImportant
{
	font-weight:bold;
}
	
.btMagasinPanier
{
	display:inline-block;
	width:10%;
	background:url(../images/decoration/ajoutPanier.png) no-repeat;
}



#blocDeRecuperation
{
	margin-top:10px;
}

#idDetailsRetrait
{
	display:block;
	width:96%;
	margin-left:2%;
	height:35px;
	margin-top:10px;
	margin-bottom:10px;
	color:#7C7C7C;
	font:13px 'Open Sans', sans-serif;
	padding-top:10px;
	padding-bottom:10px;
}

.labelsModeRecup
{
	display:inline-block;
	width:23%;
	margin-left:2%;
	margin-right:1%;
	margin-top:10px;
}

.zonesBlocAdresse
{
	display:inline-block;
	width:50%;
}

#idCLPOS
{
	width:5%;
}

#idCLVIL
{
	width:44%;
}

#idDateRetrait
{
	width:74px;
	display:inline-block;
	text-align:center;
}

#idReferenceLongue
{
	text-transform: uppercase;
}


@media only screen and (max-width:900px)
{
	.quantiteArticleP
	{
		margin-left:1%;
	}
	
	#titreActionsP
	{
		margin-left:1%;
	}
}

@media only screen and (max-width:800px)
{
	.libMagasinPanier
	{
		width:40%;
	}
	
	.TARIF2, #titreTARIF2
	{
  		margin-right:0px;
  	}
	
	.suppPanier
	{
		width:50px;
	}
	
	.quantiteArticleP
	{
		margin-left:2px;
	}
	
	#titreActionsP
	{
		margin-left:2px;
	}
	
	#idCLPOS
	{
		width:7%;
		margin-right:5px;
	}

	#idCLVIL
	{
		width:41%;
	}
}

@media only screen and (max-width:700px)
{
	.listesPanier, .listesCommentaires
	{
		width:100%;
		margin-left:0;
	}
	
	.TARIF2, #titreTARIF2
	{
		width:13%;
	}
	
	.TOTALLIGNE, #titreTOTALLIGNE
	{
		width:14%;
	}
	
	.STOCK2, #titreSTOCK2
	{
	  	display:none;
	}
	
	.accordeon2,.contenuAccordeon2
	{
		width:100%;
		margin-left:0;
	}
	
	.labelsModeRecup
	{
		width:32%;
	}

	.zonesBlocAdresse
	{
		width:60%;
	}

	#idDetailsRetrait
	{
		width:94%;
	}
	
	#idCLPOS
	{
		margin-right:3px;
	}
	
	#idCLVIL
	{
		width:51%;
	}
}


@media only screen and (max-width:600px)
{
	.libMagasinPanier
	{
		width:60%;
	}
	
	.CAREF2, #titreCAREF2
	{
		width:17%;
	}

	.A1LIB2, #titreA1LIB2
	{
		width:31%;
	}
	
	.suppPanier
	{
		width:40px;
	}
}

@media only screen and (max-width:500px)
{	
	.libMagasinPanier
	{
		width:78%;
	}
	
	.btMagasinPanier
	{
		width:18%;
	}
	
	.deco_bt
	{
		width:23%;
	}
	
	.texte_bt
	{
		text-align:left;
	}
	
	.A1LIB2, #titreA1LIB2
	{
		display:none;
	}
	
	.CAREF2, #titreCAREF2
	{
		width:31%;
	}
	
	.TARIF2, #titreTARIF2
	{
		width:19%;
	}
	
	.TOTALLIGNE, #titreTOTALLIGNE
	{
		width:20%;
	}
	
	.labelsModeRecup
	{
		width:95%;
	}

	.zonesBlocAdresse
	{
		width:85%;
		margin-left:2%;
	}
	
	#idCLPOS
	{
		width:11%;
		margin-right:1px;
	}
	
	#idCLVIL
	{
		width:70%;
	}
	
	#idDateRetrait
	{
		margin-left:2%;
	}
	
	.ecotaxeP
	{
		width:36%;
	}
}

@media only screen and (max-width:400px)
{
	.CAREF2
	{
		width:33%;
		border:1px solid blue;
	}
	
	.conditionnement
	{
		display:none;
	}
	
	.TARIF2, #titreTARIF2
	{
		width:28%;
		border:1px solid black;
	}
	
	.TOTALLIGNE, #titreTOTALLIGNE
	{
		display:none;
	}
	
	.ecotaxeP
	{
		display:none;
	}
}