.lesBoutons
{
	text-align:center;
	margin-left:4%;	
	display : block;
	margin-bottom:30px;
	cursor:pointer;
	width:160px;
	height:26px;
	border:1px solid #7C7C7C;
	line-height:26px;
	font-size:14px;
	color:#7C7C7C;
	text-decoration:none;
	background: -webkit-linear-gradient(#f1ede9, #dedad6 80%);
	background: -moz-linear-gradient(#f1ede9, #dedad6 80%);
	background: -ms-linear-gradient(#f1ede9, #dedad6 80%);
	background: -o-linear-gradient(#f1ede9, #dedad6 80%);
	background: linear-gradient(#f1ede9, #dedad6 80%);
	border-radius: 2px;
}

.lbForms
{
	display:inline-block;
	width:50%;
	max-width:150px;
	height:28px;
	line-height:28px;
	margin-left:2%;
}

#libPanier
{
	display:inline-block;
	width:200px;
}

#sttPanier
{
	display:inline-block;
	width:81px;
}

.datesPanier
{
	display:inline-block;
	width:77px;
	text-align:center;
}

.etbPanier
{
	width:5%;
}

.libPanier
{
	width:40%;
}

.statPanier
{
	width:10%;
}

.artiPanier
{
	width:5%;
}

.creaPanier, .modifPanier
{
	width:10%;
}

.finP
{
	margin-top:20px;
}

#finPanier
{
	width:94%;
	margin-top:20px;
	mrgin-bottom:20px;
	margin-left:3%;
	text-align:center;
}

#pouetImage
{
	margin-top:20px;
}

.btRecuperation
{
	width:22%;
	margin-right:1%;
	margin-left:1%;
}

.texte_bt
{
	display:inline-block;
	width:99%;
	text-align:center;
}

/**
Liste des articles dans le panier intuitif
*/
.intCodeArticle
{
	width:20%;
}

.intRefArticle
{
	width:19%;
}

.intLibArticle
{
	width: 32%;
}

.intTarifArticle
{
	width: 12%;
	text-align:right;
}

.supprArtPanier
{
	width: 15%;
	text-align:right;
	font-size: 11px;
	font-weight: bold;
}


#imgEnCours
{
	display:inline-block;
	min-width:168px;
	height:110px;
	line-height:110px;
	text-align:center;
}

#imagePanierIntuitif
{
	display:inline-block;
	vertical-align: middle;
	max-height:110px;
	width:auto;
	border:1px solid #aba3a3;
}

.textLabelImagel
{
	display:inline-block;
	width:100%;
	height:30px;
}

#formImagePanier
{
	display:inline-block;
	height:110px;
	width:360px;
	margin-right:15px;
	margin-left:2%;
}

.btnMAJ
{
	margin-left:6px;
	width:110px;
	background-color:  #f4f3f1;
	height:21px;
	line-height:21px;
}
