.ajouter
{
	text-align:center;
	margin-left:1%;
	display : block;
	margin-bottom:2%;
	cursor:pointer;
	width:20%;
	height:26px;
	border:1px solid #7C7C7C;
	line-height:25px;
	font-size:14px;
	color:#7C7C7C;
	text-decoration:none;
	background: -webkit-linear-gradient(#f1ede9, #dedad6 80%);
	background: -moz-linear-gradient(#f1ede9, #dedad6 80%);
	background: -ms-linear-gradient(#f1ede9, #dedad6 80%);
	background: -o-linear-gradient(#f1ede9, #dedad6 80%);
	background: linear-gradient(#f1ede9, #dedad6 80%);
	border-radius: 2px;
}
#partenairesEtb
{
	margin-left:1%;
	margin-bottom:2%;
}
#NomPart
{
	margin-left:1%;
}
.labelNOM
{
	width:100px;
	display:inline-block;
	height:25px;
	line-height:25px;
	margin-left:1%;
	margin-bottom:10px;
}

.nomPart
{
	margin-left:1%;
	width:90%;
}

.supprPartenaire
{
	width:8%;
	text-align:right;
}


.inputImage
{
	margin-left:2%;
	margin-bottom:1%;
	width:35%;
}
.inputETB
{
	margin-left:1%;
	width:15%;
}
.btnMAJ
{
	margin-top:2px;
	margin-left: 1%;
	width:15%;
	height:26px;
	cursor:pointer;
	background:#f4f3f1;
  	background: -webkit-linear-gradient(white, #f4f3f1 80%);
	background: -moz-linear-gradient(white,#f4f3f1 80%);
	background: -ms-linear-gradient(white, #f4f3f1 80%);
	background:  -o-linear-gradient(white, #f4f3f1 80%);
	background: linear-gradient(white, #f4f3f1 80%);
}