.zone
{
	margin-left :5%;
	margin-bottom:15px;
	width:90%;
	height:150px;
	background-color:#f9f8f6;
	font:12px 'Open Sans', sans-serif;
	border:none;
	border:1px solid #9d9696;
	border-radius:4px;
	resize: none;
	background-color:#f9f8f6;
}
.ajouter
{
	text-align:center;
	margin-left:1%;
	display : block;
	margin-bottom:2%;
	cursor:pointer;
	width:20%;
	height:26px;
	border:1px solid #7C7C7C;
	line-height:25px;
	font-size:14px;
	color:#7C7C7C;
	text-decoration:none;
	background: -webkit-linear-gradient(#f1ede9, #dedad6 80%);
	background: -moz-linear-gradient(#f1ede9, #dedad6 80%);
	background: -ms-linear-gradient(#f1ede9, #dedad6 80%);
	background: -o-linear-gradient(#f1ede9, #dedad6 80%);
	background: linear-gradient(#f1ede9, #dedad6 80%);
	border-radius: 2px;
}
.zoneVersion
{
	margin-left:5%;
	/*0margin-bottom:15px;*/
	width:10%;
	height:18px;
	background-color:#f9f8f6;
	font:12px 'Open Sans', sans-serif;
	border:none;
	border:1px solid #9d9696;
	resize: none;

	background-color:#f9f8f6;
	
	
}
.textLabel
{
	margin-left:5%;
	display: block;
	width: 180px;
	
}
.versionAc
{
	margin-left:5%;
	font:15px 'Open Sans', sans-serif;
	margin-top:5px;
}
.version
{
	margin-left:50%;
	font:16px 'Open Sans', sans-serif;
	
}
.visibilite
{
	margin-left:5%;
	background-color:#f9f8f6;
	margin-bottom:5px;

}

.nomPatcheur
{
	margin-left:5%;
	background-color:#f9f8f6;
	margin-bottom:5px;
}
.textclasse
{
	margin-left:5%;
	width:100px;
	
}
.btnMAJ
{
	margin-top:2px;
	margin-bottom:10px;
	margin-left :5%;
	width:15%;
	height:26px;
	cursor:pointer;
	background:#f4f3f1;
  	background: -webkit-linear-gradient(white, #f4f3f1 80%);
	background: -moz-linear-gradient(white,#f4f3f1 80%);
	background: -ms-linear-gradient(white, #f4f3f1 80%);
	background:  -o-linear-gradient(white, #f4f3f1 80%);
	background: linear-gradient(white, #f4f3f1 80%);
}

.datePatch
{
	margin-left:5%;
	margin-bottom:5px;
	width:8%;
	
}
#datePatch
{
	margin-left:5%;
	margin-bottom:5px;
	width:8%;
	
	
}
.PA_DATE
{
	/*margin-left:1%;*/
	width:10%;
	/*margin-right:30px;*/
	display:inline-block;
	height:28px;
	line-height:28px;
	text-decoration:none; 
	
	
}
.PA_CLAS
{
	display:inline-block;
	width:14%;
	/*margin-right:20px;*/
	margin-left:5%;
	height:28px;
	line-height:28px;
	text-decoration:none;
	
}
.PA_DETA
{
	margin-left:5%;
	display:inline-block;
	width:30%;
	height:28px;
	line-height:28px;
	text-decoration:none;
	
}
.PA_VERSION
{
	margin-left:10%;
	display:inline-block;
	width:15%;
	height:28px;
	line-height:28px;
	text-decoration:none;	
	
}

#popUpAjout
{
	z-index:100;
	position:fixed;
	left:0px;
	top:0px;
	display:none;
	height:50px;
	line-height:50px;
	width:260px;
	text-align:center;
	background-color:#009245;
	color:white;
	font-weight:bold;
	border-radius:10px;
	box-shadow: 2px 2px 2px 0px #c8c2c2;
	opacity:0.9;
}
#titreDate
{
	margin-left:2px;
	width:98px;
	/*margin-right:20px;*/
	
	
}
#titreClasse
{
	width:14%;
	/*margin-right:20px;*/
	margin-left:5%; 
	
	
}
#titreDetail
{
	width:35%;
	/*margin-right:15px;*/
	margin-left:5%;
	
	
}
#titreVersion
{
	margin-left:5%;
	display:inline-block;
	width:15%;
	height:28px;
	line-height:28px;
	text-decoration:none;
}	