#formCriteres
{
	margin: 15px;
}

#texteRechercheArticle
{
	font-weight:bold;
	height:30px;
	line-height:30px;
	margin-bottom:15px;
}

label
{
	height:25px;
	line-height:25px;
	display:inline-block;
	margin-bottom:10px;
	margin-right:10px;
	width:200px;
}

.chkRechArticle
{
	height:25px;
	line-height:25px;
	display:inline-block;
	margin-bottom:10px;
}

#validerRech
{
	height:25px;
	line-height:25px;
	width:150px;
	display:inline-block;
	margin-top:15px;
}

.btnMAJ
{
	
	margin-left:1%;
	margin-bottom:5px;
	margin-top:10px;
	width:15%;
	height:26px;
	cursor:pointer;
	background:#f4f3f1;
  	background: -webkit-linear-gradient(white, #f4f3f1 80%);
	background: -moz-linear-gradient(white,#f4f3f1 80%);
	background: -ms-linear-gradient(white, #f4f3f1 80%);
	background:  -o-linear-gradient(white, #f4f3f1 80%);
	background: linear-gradient(white, #f4f3f1 80%);
}