
#labelMotsCles
{
	margin-left:2px;
	width:15%;
}

.labelTraduction
{
	display:block;
	margin-left:2%;
	width:90%;
}

#labelLangues
{
	margin-left:30px;
	width:20%;
}

.cle
{
	width:25%;
	margin-left:5px;
	margin-right:30px;
	text-decoration:none; 
	height:28px;
	line-height:28px;
	display:inline-block;
	padding:0;
}

.valeurLangue
{
	display:inline-block;
	width:65%;
	margin-right:30px;
	height:28px;
	line-height:28px;
	text-decoration:none;
}

.recherche
{
	color:#4a4a54;
	height:28px;
	line-height:28px;
	margin-left:4%;
	margin-bottom:10px;
	width:90%;
}

#lbRechTraduK
{
	display:inline-block;
	height:23px;
	line-height:23px;
	width:20%;
}

#rechercheInput
{
	height:23px;
	line-height:23px;
	border-radius: 0;
	width:140px;
	display:inline-block;
	opacity:1;
}

#validRecherche
 {
 	display:inline-block;
	color:white;
	background:url(../images/decoration/loupe.png) no-repeat;
	background-color:white;
	width:28px;
	height:26px;
	vertical-align: middle;
 }
 
.motCle
{
	display:block;
	width:190px;
	margin-left:2%;
	margin-bottom:20px;
}

.labelMotCle
{
	display:inline-block;
	margin-bottom:40px;
	margin-left:2%;
}

.labelCode
{
	display:block;
	margin-left:2%;
	border:none;
	
}

.valeur
{
	margin-left:2%;
	display :block;
	width: 90%;
	height:65px;
	margin-bottom:5px;
}

.btnMAJ
{
	margin-top:5px;
	margin-bottom:10px;
	margin-left:2%;
	width:15%;
	height:26px;
	cursor:pointer;
	background:#f4f3f1;
  	background: -webkit-linear-gradient(white, #f4f3f1 80%);
	background: -moz-linear-gradient(white,#f4f3f1 80%);
	background: -ms-linear-gradient(white, #f4f3f1 80%);
	background:  -o-linear-gradient(white, #f4f3f1 80%);
	background: linear-gradient(white, #f4f3f1 80%);
}

.traduire
{
	text-align:center;
	margin-left:4%;	
	display : block;
	margin-bottom:30px;
	cursor:pointer;
	width:160px;
	height:26px;
	border:1px solid #7C7C7C;
	line-height:26px;
	font-size:14px;
	color:#7C7C7C;
	text-decoration:none;
	background: -webkit-linear-gradient(#f1ede9, #dedad6 80%);
	background: -moz-linear-gradient(#f1ede9, #dedad6 80%);
	background: -ms-linear-gradient(#f1ede9, #dedad6 80%);
	background: -o-linear-gradient(#f1ede9, #dedad6 80%);
	background: linear-gradient(#f1ede9, #dedad6 80%);
	border-radius: 2px;
	
}