.secContenu
{
	min-height:420px;
}


/*#CLNOM, #CLCPL, #CLRUE, #CLLOC, #CLVIL
{
	width:300px;
}

#CLPCO, #CLFAC, #CLEXP, #CLCDE, #CLPLF, #ENCOURS, #DEPASS
{
	text-align:right;
	width:100px;
}
#CLTEL
{
	width:200px;	
}
#labeltel
{
	width:100px;
}*/


#enc_TVA
{
	position:absolute;
	width:60px;
	right:8px;
	top:0px;
	height:22px;
	display:inline-block;
	text-align:right;
}


